.cart {
  min-width: 20rem;
  padding: 0 1.5rem 1rem .2rem;  
  background-color: rgb(28, 28, 28);  
  border-radius: 0.8rem;
  line-height: 1.2;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 1rem;
  height: max-content;

  .cart__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 0 0 2rem;
  }

  h1,
  h2 {
    margin: 0.8rem 0;
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  li {
    margin: 1rem 0;
    list-style: none;

    button {
      margin-left: 0.8rem;
    }
  }

  button {
    padding: 0 0.4rem;
  }
}

.pizza-card {
  padding: 1rem;
  border: 1px solid whitesmoke;
  width: 90%;
  border-radius: 0.8rem;

  .pizza-card__price {
    margin-bottom: 1rem;
  }
}
