.create-pizza {
    height: 85vh;
    line-height: 1.2;
    overflow: scroll;

    .create-pizza__top-section {
        display: flex;
        gap: 2rem;
        padding: 1rem;
    }

    .create-pizza__img {
        width: 200px;
        border-radius: 20px;
    }

    .ingredients-card {
        padding: 2rem 0;

        h1,
        h2 {
            margin: 0.8rem 0;
            font-size: x-large;
        }

        h3 {
            margin-top: 2rem;
        }

        button {
            padding: 0.2rem 2rem;
            margin-top: 0.5rem;
            width: 60%;
        }
    }
}
